* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(80deg, #000, burlywood);
	z-index: 0;
}

.jumbotron {
	background: url("Images/Upload Research.jpg");
	background-size: cover;
	height: 100vh;
	text-align: center;
	margin: auto;
}

.jumbotron h1 {
	color: white;
	font-size: 10vw;
	font-family: 'Times New Roman', Times, serif
}

.navbar {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	position: sticky;
	top: 0px;
	z-index: 10;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.imglink {
	border-radius: 50%;
}

.wordlink {
	color: white;
}

.wordlink:hover {
	transition: color .5s;
	color: black;
}

.navbar-nav {
	margin-left: 40px;
}

.navbar-nav li {
	font-size: 20px;
	margin: 0 10px;
	transition: background .5s;
	border-radius: 5px;
}

.navbar-nav li:hover {
	background: black;
	transition: background .5s;
}

.searchfab {
	margin: auto;
}

.searchbtn {
	color: burlywood;
	background: black;
	border: 1px solid burlywood;
	margin-left: 5px;
}

.searchbtn:hover {
	color: white;
	background: linear-gradient(80deg, #f00, rgb(0, 238, 255));
	border: 1px solid white;
}

.dropdown-menu {
	background: rgba(146, 146, 146, 0.9);
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
}

.dropdown-item {
	color: white;
	padding: 10px;
	transition: background .5s;
	margin: 10px 0;
}

.dropdown-item:hover {
	background: steelblue;
	color: white;
	border-radius: 5px;
}

.overlay {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  	margin: 3% auto;
  	border-radius: 40px;
  	border: 1px solid grey;
}

form {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: white;
	padding: 40px;
}

.Instruction {
	width: 100%;
}

form hr {
	width: 30%;
	text-align: center;
	margin: 0 auto;
}

h1 {
	font-weight: normal;
	padding: 0 0 40px;
}

.Information {
	margin: 20px 0 20px;
}

.inputBox input[type="submit"]{
	margin-top: 20px;
	padding: 10px;
	border-radius: 20px;
	background: #fff;
	color: #666;
	max-width: 300px;
	cursor: pointer;
	margin-bottom: 10px;
	font-weight: 500;
	transition: background 0.5s;
	border: 1px solid burlywood;
}

.inputBox input[type="submit"]:hover {
	background: black;
	color: burlywood;
}

.Agreenot {
	margin: 20px 0;
}

#agreement {
	width: 20px;
	height: 20px;
}

input {
	width: 50%;
	background: rgba(255, 255, 255, 0.2);
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 35px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	letter-spacing: 1px;
	color: #fff;
	box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
}

textarea {
	width: 50%;
	background: rgba(255, 255, 255, 0.2);
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 35px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	letter-spacing: 1px;
	color: #fff;
	box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
}

input::placeholder, textarea::placeholder {
	color: #fff;
}

footer {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	border-top: 1px solid grey;
	font-family: 'Poppins', sans-serif;
}

footer h3, footer p, hr {
	color: white;
}

.list-unstyled {
	list-style-type: circle;
}

.list-unstyled a, .col-auto, footer a {
	color: white;
	transition: background .5s;
	text-decoration: none;
}

.list-unstyled a:hover, footer a:hover {
	transition: color .5s;
	color: black;
}

.mainfooter {
	padding-top: 20px;
}